/Debug/
/JSON_files/
/output/20250721103548182_PADEP_Form26R_1_searchable.pdf
/output/20250721144027138_PADEP_Form26R_3_searchable.pdf
/output/20250721144027138_PADEP_Form26R_5_searchable.pdf
/output/20250721144027138_PADEP_Form26R_7_searchable.pdf
/output/20250722100004881_PADEP_Form26R_4_searchable.pdf
/PDF_files/
/indexing-benchmark.py
/inspect_geometry.py
/inspect_json.py
/pdf_info.py
/temp.py
